@charset "utf-8";
/* pc */
/* reset */
html {-webkit-text-size-adjust: none; text-size-adjust: none;}
body {margin: 0; }
h1, ul, li, p, dl, dt, dd {margin: 0; padding:0;}
img{ margin:0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; margin: 0;}
a {color: inherit; text-decoration: inherit;}
li {list-style: none;}
address, em, i, cite {font-style: normal;}
.ir-hidden {position: absolute; left: -9999px;}
table {border-collapse: collapse;}
table caption {overflow: hidden; width: 0; height: 0;}

